* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}


.main {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
    margin: 5% auto;
}

.product_infor_row {
    margin: 5%;
}

.product_infor div {
    display: grid;
    justify-content: right ;
    padding: 2px;
}

.btn {
    display: grid;
    justify-items: end;
    grid-template-columns: repeat(2, 1fr);
}

button {
    margin-top: 20px;
    width: 90%;
    line-height: 5vh;
}